p{
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}
img{
    
    width: 100%;
}
.profile img{
    width: 90%;
    
}
.profile{
    
    text-align: center;
}

#contact h2{
    padding-top: 10px;
}

.outerwrap{
    background-color:#F8F8F8;
	width: 100%;
    height: 100%;
	display: block;
	clear: both;

}

.innerwrap{
	background-color: #ffffff;
	width: 100%;
	margin: 0 auto;
	display: block;

}
nav{
    width: 94%;
}

nav ul li{
 list-style-type: none;
    font-weight: 700;
    padding: 5px 0px;
    margin: 5px 0px;
    background-color: #FFFFFF; 
}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

h1{
    
    padding-top: 10px;
}

h1, h2, h3, li{
  font-family: 'Khula', sans-serif; 
text-align: center;
    
}
h2{
    text-transform: uppercase;
    font-size: 1em;
}

span{
    font-weight: 600;
}

footer p{
    display: inline-block;
    font-weight: 700;
    font-size: .9em;
}

footer a{
    text-transform: uppercase;
    color: black;
    float: right;
}

footer span.large{
    display:none;
}
/*media queries*/



@media (min-width:768px){
    
    .clearfix::after{
        content:"";
        display: table;
        clear:both;
        
    }
  footer span.mobile{
    display:none;
}
    footer span.large{
    display: inline-block;
        float:right;
    }
    
    
    span.large a{
        text-decoration: none;
    }
    
   li{
    display: inline-block;
    font-weight: 700;
    padding: 15px;
    }
    
    
    header .profile img{
        float: right;
        width: 39%;
        padding-bottom: 15px;
        padding-right: 15px;
    }
    header p{
        text-align: left;
        float: left;
        width: 55%;
        vertical-align: middle; 
    }
    .one,.two,.three{
        width: 48%;
        float:left;
        margin: 0 5px;
    }
    .four, .five, .six{
        width: 48%;
        float: right;
        margin: 0 5px;
    }
    h2{
        text-align: center;
    }
    nav.main ul li{
        background: none;
        padding: 0px 25px;
    }
    nav.main{
        text-align: center;
    }
    
    
    
}

@media (min-width: 1024px){
    
    .clearfix::after{
        content:"";
        display: table;
        clear:both;
        
    }
    
   footer span.mobile{
    display:none;
}
    footer span.large{
    display: inline-block;
}
    .one, .two{
        float:right;
        width: 32%;
        margin: 0 5px;
    }
    .three, .four{
        width: 32%;
        margin: 0 5px;
    }
    .five, .six{
        width: 32%;
        float: left;
        margin: 0 5px;
    }
}

h1{
    float: left;
    display: inline-block;
    padding: 0;
    margin-left: 10px;
}

nav{
    width: 50%;
    display: inline-block;
    float: right;
    margin: 10px 0px;
}